<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Homepage Admin
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>


	<div th:replace="fragments/base.html :: indexImg"></div>
	<h1>Consulta l'archivio</h1>
	<div>
		<a href="/movie">Elenco Film</a>
	</div>
	<div>
		<a href="/formSearchMovies">Cerca un film per anno</a>
	</div>
	<div>
		<a href="/artist">Elenco Artisti</a>
	</div>
	<div>
		<a href="/formSearchArtists">Cerca un artista per cognome</a>
	</div>
	<h1>Operazioni per amministratore</h1>
	<div>
		<a href="/admin/indexMovie">Operazioni sui film</a>
	</div>
	<div>
		<a href="/admin/indexArtist">Operazioni sugli artisti</a>
	</div>
</body>

</html>