<!DOCTYPE html>
<html>

<head>
	<title>Review</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>


	<div th:replace="fragments/base.html :: indexImg"></div>
	<h1>Vuoi davvero cancellare questa recensione?</h1>
	<a th:href="@{'/admin/confirmDeletionReview' + '/' + ${review.id}}">Conferma</a>
	<a th:href="@{'/movie/' + ${review.relatedMovie.id}}">Ritorna al film</a>


	<h2>Recensione </h2>
	<div th:if="${review}">
		<h1 th:text="${review.title}">Che schifezza</h1>

		<h3 th:text="${review.rating}+'/5'">3</h3>
		<testo th:text="${review.description}">era meglio se dormivo</testo>
	</div>

	<div th:unless="${review}">Non esiste</div>
</body>

</html>