<!DOCTYPE html>
<html>

<head>
	<title>Scelta regista</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>


	<div th:replace="fragments/base.html :: indexImg"></div>
	<h1 th:text="'Regista per il film ' + ${movie.title}"></h1>
	<div th:if="${artists.isEmpty()}">Non ci sono registi nel sistema</div>
	<ul>
		<li th:each="artist : ${artists}">
			<a th:href="@{'/admin/setDirectorToMovie/'+ ${artist.id}+'/'+${movie.id}}"
				th:text="${artist.name} + ' ' + ${artist.surname}">Steven Spielberg</a>
		</li>
	</ul>
</body>

</html>