<!DOCTYPE html>
<html>

<head>
	<title>Artisti</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>


	<div th:replace="fragments/base.html :: indexImg"></div>
	<h1>Artisti</h1>
	<div th:if="${artists==null || artists.isEmpty()}">Non ci sono artisti nel sistema</div>
	<ul>
		<li th:each="artist : ${artists}">
			<a th:href="@{'/artist' + '/' + ${artist.id}}" th:text="${artist.name} + ' ' + ${artist.surname}">Dino
				Risi</a>
		</li>
	</ul>
</body>

</html>