<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>


	<div th:replace="fragments/base.html :: indexImg"></div>
	<h1>Artisti che soddisfano i requisiti</h1>
	<div th:if="${artists.isEmpty()}">Non ci sono artisti che soddisfano i requisiti</div>
	<ul th:if="${!artists.isEmpty()}">
		<li th:each="artist : ${artists}">
			<a href="artist.html" th:href="@{'/artist' + '/' + ${artist.id}}"
				th:text="${artist.name} +  ${artist.surname}">Francesco Totti</a>
		</li>
	</ul>
</body>

</html>